.wizard-container {
  border: 1px solid silver;
  border-radius: 4px;
  height: 700px;
  width: 650px;
  margin: 100px auto 0px auto;
}

.form-field {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 20px 0px;
}

.form-key {
  min-width: 130px;
}

.disabled-item {
  opacity: 0.5;
  pointer-events: none;
}
